<ion-header>
  <ion-toolbar>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-content class="account-item">
      <div class="account-logo">
        <ion-icon name="information-circle-outline"></ion-icon>
        <p>My Info</p>
      </div>
      <ion-icon name="chevron-forward-outline" class="account-nav"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-content class="account-item">
      <div class="account-logo">
        <ion-icon name="medkit-outline"></ion-icon>
        <p>Doctor</p>
      </div>
      <ion-icon name="chevron-forward-outline" class="account-nav"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-content class="account-item">
      <div class="account-logo">
        <ion-icon name="cog-outline" class="account-nav"></ion-icon>
        <p>Settings</p>
      </div>
      <ion-icon name="chevron-forward-outline" class="account-nav"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-content class="account-item">
      <div class="account-logo">
        <ion-icon name="log-out-outline" class="account-nav"></ion-icon>
        <p>Log Out</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>