<ion-header>
  <ion-toolbar>
    <ion-title>My Family</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="family-card">
      <div class="initials-logo">
        AP
      </div>
      <div class="member-details">
        <p>Arno Pretorius</p>
        <small>Main Member</small>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="family-card">
      <div class="initials-logo">
        CP
      </div>
      <div class="member-details">
        <p>Clarissa Pretorius</p>
        <small>Wife</small>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content class="family-card">
      <div class="initials-logo">
        LAP
      </div>
      <div class="member-details">
        <p>Lee-Anke</p>
        <small>Daugther</small>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
</ion-content>
