<ion-header>
  <ion-toolbar>
    <ion-title>Your Practitions</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header class="practition">
      <img src="../../../assets/images/hospital.jpeg" alt="">
      <div class="header">
        <ion-card-title>NeuMed Practition</ion-card-title>
        <ion-card-subtitle>Dr. Neuhof</ion-card-subtitle>

      </div>
    </ion-card-header>
  
    <ion-card-content>
      <p>Appointments Available : 3</p>
      <p>Mon - Fri : 8:00 - 16:00</p>
    </ion-card-content>
  </ion-card>  
</ion-content>
