<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="practitions">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Practitions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="health">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Health</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="family">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Family</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tips">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
