<ion-header>
  <ion-toolbar>
    <ion-title>Health Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search">
    <ion-item>
      <ion-input placeholder="Search Tips"></ion-input>
      <ion-icon name="search-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-title>Headache</ion-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores laudantium ipsum similique delectus enim tempora impedit adipisci maxime velit possimus, cumque exercitationem voluptates dolorem quidem aliquam et libero. Iusto, at.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-title>Headache</ion-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores laudantium ipsum similique delectus enim tempora impedit adipisci maxime velit possimus, cumque exercitationem voluptates dolorem quidem aliquam et libero. Iusto, at.
    </ion-card-content>
  </ion-card>
</ion-content>