<ion-header>
  <ion-toolbar>
    <ion-title>Your Health</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="health">
    <div class="health-row">
      <div class="health-card">
        Doctors
        <img src="../../../assets/images/stethoscope.png" alt="" />
      </div>
      <div class="health-card">
        Medicine
        <img src="../../../assets/images/medicine.png" alt="" />
      </div>
    </div>
    <div class="health-row">
      <div class="health-card">
        Tests
        <img src="../../../assets/images/chemical.png" alt="" />
      </div>
      <div class="health-card">
        Presciptions
        <img src="../../../assets/images/prescription.png" alt="" />
      </div>
    </div>
  </div>
  <hr class="divider">

  <div class="visit-item">
    <div class="date">
      <h4>25</h4>
      <p>Jan</p>
    </div>
    <div class="vr-divirder"></div>
    <div class="details">
      <p>Visit To Dr. Pretorius</p>
      <small>12:00 - 12:30</small>
    </div>
  </div>

  <div class="visit-item">
    <div class="date">
      <h4>25</h4>
      <p>Jan</p>
    </div>
    <div class="vr-divirder"></div>
    <div class="details">
      <p>Visit To Dr. Pretorius</p>
      <small>12:00 - 12:30</small>
    </div>
  </div>

  <div class="visit-item">
    <div class="date">
      <h4>25</h4>
      <p>Jan</p>
    </div>
    <div class="vr-divirder"></div>
    <div class="details">
      <p>Visit To Dr. Pretorius</p>
      <small>12:00 - 12:30</small>
    </div>
  </div>

  <div class="visit-item">
    <div class="date">
      <h4>25</h4>
      <p>Jan</p>
    </div>
    <div class="vr-divirder"></div>
    <div class="details">
      <p>Visit To Dr. Pretorius</p>
      <small>12:00 - 12:30</small>
    </div>
  </div>

  <div class="visit-item">
    <div class="date">
      <h4>25</h4>
      <p>Jan</p>
    </div>
    <div class="vr-divirder"></div>
    <div class="details">
      <p>Visit To Dr. Pretorius</p>
      <small>12:00 - 12:30</small>
    </div>
  </div>

</ion-content>
